input {
    margin: 10px;
}

#sort_btn {
    display: none;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}

#submit_btn {
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
}